
**.DS_Store
Documentation/.DS_Store
automan-helper-docs/home/Cert Experiment/ca-key\.pem

automan-helper-docs/home/Cert Experiment/ca\.pem
automan-helper-docs/duck\.log

automan-helper-docs/home/\.viminfo

